<header class="navbar navbar-dark bg-dark p-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Admin ArtGallery</a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="btn btn-outline-light btn-sm" href="/admin/logout">Đăng xuất</a>
            </li>
        </ul>
    </div>
</header>