<nav>
    <a href="/admin" class="<%= path === '/admin' ? 'active' : '' %>">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    <a href="/admin/images" class="<%= path === '/admin/artworks' ? 'active' : '' %>">
        <i class="bi bi-image"></i> Quản lý tranh
    </a>
    <a href="/admin/unity" class="<%= path === '/admin/unity' ? 'active' : '' %>">
        <i class="bi bi-joystick"></i> Unity Admin
    </a>
    <a href="/admin/settings" class="<%= path === '/admin/settings' ? 'active' : '' %>">
        <i class="bi bi-gear"></i> Cài đặt
    </a>
</nav>