<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Chào mừng đến với trang Admin ArtGallery</h1>
                    <p class="card-text">Đây là trang quản trị dành cho ArtGallery. Bạn có thể quản lý người dùng, bộ sưu tập và các tác phẩm nghệ thuật từ đây.</p>
                </div>
            </div>
        </div>
    </div>
        
        <div class="col-md-4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Tác phẩm</h5>
                    <p class="card-text display-4">0</p>
                    <a href="/admin/artworks" class="btn btn-light btn-sm">Quản lý</a>
                </div>
            </div>
        </div>
    </div>
</div>